.sidebar-filler {
    background-color: $color-secondary;
	color: $color-secondary-text;
	padding-top: 62px;

	&.sidebar-filler-micro {
		width: 40px;
	}
}

#sidebar-main {
    background-color: $color-secondary;
	color: $color-secondary-text;
	padding-top: 62px;

	&.sidebar-micro {
		position: relative;
		z-index: 10;
		width: 40px;
	}
	
	@include responsive-max( screen-tablet-small ) {
		padding-top: 81px;
	}
}
