# yii console commands
yii
yii.bat
yii_test
yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject/private/
nbproject/

# eclipse/aptana project files
.buildpath
.project
.settings

# composer files
composer.phar
composer.lock
vendor/

// sass cache
frontend/web/.sass-cache/
frontend/web/styles/
frontend/web/scripts/
frontend/runtime/

backend/web/.sass-cache/
backend/web/styles/
backend/web/scripts/
backend/runtime/

console/runtime/

themes/admin/.sass-cache/
themes/admin/resources/.sass-cache/
themes/admin/resources/styles/.sass-cache/
themes/admin/resources/styles/scss/.sass-cache/

themes/adminchild/deploy/.sass-cache/
themes/adminchild/deploy/node_modules/

themes/basic/.sass-cache/
themes/basic/resources/.sass-cache/
themes/basic/resources/styles/.sass-cache/
themes/basic/resources/styles/scss/.sass-cache/
themes/basic/deploy/node_modules/

# uploads
uploads/

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
