# yii environment
/yii
/yii.bat
/yii_test
/yii_test.bat

# phpstorm project files
.idea/

# netbeans project files
nbproject/

# eclipse/aptana project files
.buildpath
.project
.settings

# composer files
composer.phar
composer.lock
vendor/

# frontend
frontend/web/.sass-cache/
frontend/runtime/

# backend
backend/web/.sass-cache/
backend/runtime/

# console
console/runtime/

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
