// == Basic CRUD ====================

.data-crud-wrap-basic {

	.data-crud {
		border: 1px solid $color-border;

		.data-crud-title {			
			background-color: $color-secondary;
			color: $color-secondary-text;
			height: 2.3em;
			line-height: 1.8em;
			padding: 0.25em;
			border-bottom: 1px solid $color-border;
			
			.data-crud-title-actions {
				float: right;
			}
		}

		.data-crud-actions {
			text-align: right;
		}
	}
}

// == Settings CRUD =================

#data-crud-settings {

	.data-crud-title {
		z-index: 100;

		.wrap-popout-title {
			position: relative;
		}

		.wrap-popout-settings {
			position: relative;

			#popout-settings {
				background-color: $color-primary-l;
				color: $color-primary-text-l;
				position: absolute;
				top: 0.5em;
				width: 100%;
				padding: 0.5em;
				line-height: 1em;
				@include shadow( 0px, 0px, 6px, $color-shadow, 3px );

				.popout-setting {
					font-size: $font-size-8;
					padding: 0.5em;
					cursor: pointer;
					@include transit-color-bkg-color( $transit-eio, $transit-time-medium );

					&:hover {
						background-color: $color-tertiary;
						color: $color-white;
					}
				}
			}
		}
	}

	.data-crud-form {
		z-index: 50;

		.form {

			.frm-field {
				display: inline-block;
				width: 50%;
				margin-bottom: 0.5em;
				
				&:nth-child( even ) {
					padding-right: 0.5em;
				}
				
				&:nth-child( odd ) {
					padding-left: 0.5em;
				}
			}

			.frm-actions {
				text-align: right !important;
			}
		}
	}
}

// == Gallery CRUD ==================

#data-crud-gallery {

	.data-crud-wrap-main {
		padding-right: 1em;
	}

	.data-crud-wrap-sidebar {
		padding: 1em;
		border: 1px solid $color-border;
		
		.uploader {
			margin: 0 auto;
		}
	}
}
