// The basic implementation of collapsible menu
.collapsible-menu-admin {

    .collapsible-tab {
        width: 100%;
        position: relative;

        &:hover {
            background-color: $color-secondary-l;
        }

        .marker {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            height: 100%;
            //border-right: 4px solid $color-blue-d;
        }

        .tab-header {
            position: relative;
            padding: 0.5em 0;
			padding-left: 40px;
            padding-right: 8px;
            cursor: pointer;
			height: 3em;

            .tab-icon {
                position: absolute;
                top: 0;
                left: 0;
                padding: 1em 10px;
                color: $color-secondary-text-d;
            }

            .tab-title {
                color: $color-secondary-text-d;
				line-height: 2em;
            }
        }

        .tab-content {
            padding-left: 40px;
            display: none;
			background-color: $color-secondary-l;
			color: $color-secondary-text-l;
			border-right: 2px solid $color-secondary-d;
			@include shadow-inset-top-bottom( 4px, 4px, -5px, $color-gray, -8px, 8px, -12px, $color-gray );

            ul {
                width: 100%;
                text-align: left;
                padding: 0.5em 0;

                li {
                    cursor: pointer;
                    font-size: $font-size-8;
                    padding: 0.5em 0;

                    a {
                        color: $color-secondary-text-l;
                        display: block;
                    }
                }
            }
        }

        &.active {
            background-color: $color-tertiary-d;

            .marker {
                display: inline-block;
            }

            .tab-header {

				.tab-icon {
					color: $color-tertiary-text-d;
				}

                .tab-title {
                    font-weight: bold;
					color: $color-tertiary-text-d;
                }
            }

            .tab-content {

                ul li {

                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }

        &.expanded {
            background-color: $color-secondary;

			.tab-header {
				border-right: 2px solid $color-secondary-d;
			}
        }
    }
}

.sidebar-micro {

	.collapsible-menu-admin {

		.collapsible-tab {

			.marker {
				display: none !important;
			}

			.tab-header {
				width: 40px;

				.tab-title {
					display: none;
				}
			}

			.tab-content {
				position: absolute;
				width: 250px;
				top: 0px;
				left: 40px;
				padding-left: 10px;
				display: none;
			}
		}
	}
}
