html, body {
    width: 100%;
    height: 100%;
    background-color: $color-secondary-d;
	color: $color-secondary-text-d;
}

.container-main {
    width: 100%;
    min-height: 100%;
}

.container-private {

    .sidebar-private, .content-wrap {
        padding-top: 62px;
    }

	.content-main-wrap-micro {
		position: absolute;
		width: 100%;
		padding-top: 62px;
		padding-left: 40px;
		z-index: 5;
	}

	@include responsive-max( screen-tablet-small ) {

		.sidebar-private, .content-wrap {
			padding-top: 81px;
		}

		.content-main-wrap-micro {
			padding-top: 81px;
		}
	}
}
