@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans/opensans-regular.eot');
    src: url('../fonts/opensans/opensans-regular.eot?#iefix') format( 'embedded-opentype' ),
         url('../fonts/opensans/opensans-regular.woff') format( 'woff' ),
         url('../fonts/opensans/opensans-regular.ttf') format( 'truetype' ),
         url('../fonts/opensans/opensans-regular.svg#opensans-reg') format( 'svg' );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/opensans/opensans-bold.eot');
    src: url('../fonts/opensans/opensans-bold.eot?#iefix') format( 'embedded-opentype' ),
         url('../fonts/opensans/opensans-bold.woff') format( 'woff' ),
         url('../fonts/opensans/opensans-bold.ttf') format( 'truetype' ),
         url('../fonts/opensans/opensans-bold.svg#opensans-bold') format( 'svg' );
    font-weight: normal;
    font-style: normal;
}
