html, body {
    font-size: 11px;

    @include responsive-min( screen-mobile-large ) {
        font-size: 12px;
    }

    @include responsive-min( screen-tablet-large ) {
        font-size: 12px;
    }

    @include responsive-min( screen-desktop-large ) {
        font-size: 14px;
    }
}

.note {
	background-color: $color-secondary-d;
	color: $color-info;
	padding: 0.5em;
}
