.grid-data-admin {
	background-color: $color-primary-l;
	color: $color-primary-text-l;
	padding: 0 1rem;

	// Grid Additionals
	.cmt-select-wrap {
		width: 125px;

		.cmt-select .cmt-select-list li {
			text-align: center !important;
		}
	}

	.actions {

		.action {
			cursor: pointer;
		}
	}

	.cmt-choice {

		.label {
			margin-top: 0.5em;
		}
	}

	// Grid Search
	.grid-search-wrap {
		display: inline-block;
		margin-right: 0.5em;

		.grid-search {
			text-align: right;

			.search-field {
				background-color: $color-field;
				@include rounded-left( $size-small );

				input[type=text], .cmt-select-wrap {
					width: 8em;
					margin-bottom: 0;
				}

				input[type=text] {
					width: 12em;
					@include rounded-left( $size-small );
				}

				.cmt-select-wrap {
					display: inline-block;
					text-align: left;
				}

				.btn {
					@include rounded-right( $size-medium );
				}
			}
		}
	}

	// Grid Sort
	.grid-sort-wrap {
		display: inline-block;

		.grid-sort {
			display: inline-block;
		}
	}

	// Grid Filters
	.grid-filters-wrap {
		display: inline-block;

		.grid-filters {
			display: inline-block;
		}
	}

	// Bulk Options
	.grid-bulk-wrap {
		display: inline-block;

		.grid-bulk {
			display: inline-block;
		}
	}

	// Grid Report
	.grid-report-wrap {
		display: none;
		padding: 0.75rem 0;
		border-bottom: 1px solid $color-border;

		&.show-report {
			display: block;
		}

		.grid-report {

			.grid-report-fields {

				& > .row:nth-child( odd ) {
					padding-right: 0.5em;
				}

				& > .row:nth-child( even ) {
					padding-left: 0.5em;
				}

				.date-wrap, .range-wrap {

					&:nth-child( odd ) {
						padding-left: 0.5em;
					}

					&:nth-child( even ) {
						padding-right: 0.5em;
					}
				}
			}

			.grid-report-actions {
				text-align: right;
			}
		}
	}

	// Grid Head
	.grid-head-wrap {
		padding: 0.75rem 0;
		border-bottom: 1px solid $color-border;

		.grid-title {
			display: none;
		}

		.grid-head-options {
			text-align: right;

			.cmt-select-wrap {
				margin-right: 0.5em;
			}
		}
	}

	// Grid Options
	.grid-options-wrap {
		padding: 0.75rem 0;
	}

	// Grid Content
	.grid-content-wrap {
		padding: 0.75rem 0;

		.grid-content {

			.grid-rows-wrap {
				border: 1px solid $color-border;

				.colf {
					//height: 2.3em;
					line-height: 1.8em;
					padding: 0.25em;
					border-bottom: 1px solid $color-border;
					border-right: 1px solid $color-border;
					overflow: hidden;
				}

				.grid-rows-header {
					background-color: $color-secondary;

					.colf:last-child {
						border-right: none;
					}
				}

				.grid-rows {

					.grid-row {

						.grid-row-data {

							.colf:last-child {
								border-right: none;
							}

							.icon {
								text-align: center;
							}
						}

						&:last-child {

							.grid-row-data {

								.colf {
									border-bottom: none;
								}
							}
						}
					}
				}
			}

			// Grid Cards
			.grid-cards-wrap {

				.grid-cards {

					.grid-card {
						margin-bottom: 1em;
						border: 1px solid $color-border;

						.grid-card-header {
							background-color: $color-secondary;
							height: 2.3em;
							line-height: 1.8em;
							padding: 0.25em;

							.grid-card-actions {
								text-align: right;
							}
						}

						.grid-card-data {
							height: 160px;

							.col, .colf {
								padding: 0.25em;
							}
						}

						.grid-card-footer {
							background-color: $color-secondary;
							height: 2.3em;
							line-height: 1.8em;
							padding: 0.25em;
						}
					}
				}
			}
		}
	}

	// Grid Footer
	.grid-footer-wrap {
		padding: 0.75rem 0;

		.grid-footer {
			border: 1px solid $color-border;
			padding: 0.75rem;

			.text {
				line-height: 2em;
			}

			.grid-footer-info {
				// footer content
			}

			.grid-footer-options {
				text-align: right;
			}
		}
	}
}
