/* == Content Header ============================================ */

.header-content {
    padding: 0.5rem 1rem;
    background-color: $color-primary-l;
    color: $color-primary-text-l;

    .header-actions {
        min-height: 1em;

        .cmti, a {
            color: $color-white;
        }
    }

    .header-search {
        text-align: right;

        .cmti {
            color: $color-white;
        }
    }
}

/* == Sort Icons ================================================ */

.icon-sort {
    width: 12px;
    height: 12px;
    position: absolute;
    display: inline-block;
    background: url(../images/icons/icon-set-sort.png) no-repeat 0 0;
    cursor: pointer;
}

.icon-up {

}

.icon-up-active {
    background-position: -12px 0;
}

.icon-down, .icon-down-active {
    margin-top: 16px;
    background-position: 0 -12px;
}

.icon-down-active {
    background-position: -12px -12px;
}

/* == CUD Box =================================================== */

.box-cud {
    width: 640px;
    margin: 0 auto;
	margin-top: 1em;
	padding-bottom: 1em;
    background-color: $color-primary-l;
    color: $color-primary-text-l;

    .header {
        background-color: $color-secondary;
        color: $color-secondary-text;
        font-size: $font-size-7;
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .box-wrap-header {

        .header {
            font-size: $font-size-5;
        }
    }

    .box-wrap-content {
        padding: 0.5rem 1rem;

        .form-group {
            clear: both;
        }

        .cleditorMain {
            border: none;
        }

        .help-block {
            color: $color-error;
        }
    }

    .box-content {
        border: 1px solid $color-primary-d;
        clear: both;
        margin-top: 1rem;

        .info {
            padding: 0.5rem 1rem;

            // Tabular Info
            table {

                td {
                    padding: 0.25rem 0.5rem;
                }
            }
        }

        .box-half {
            width: 45%;
            display: inline-block;
            text-align: left;
            float: left;
            padding-left: 5%;

            input[type="checkbox"] {
                display: inline;
                width: auto;
                margin-right: 1em;
            }
        }
    }

    .render-file {
        display: none;
    }
}

/* == Slider Slides == */

.slider-slides {
    width: 100%;
}

.slider-slides li {
    list-style: none;
    float: left;
    width: 47.5%;
    margin: 1%;
    border: 1px solid #C0C0C0;
}

/* == Data Grid ================================================= */

.data-grid {
    padding: 0.5rem 1rem;
	background-color: $color-primary-l;

    .grid-header, .grid-footer {
        background-color: $color-primary-l;
        color: $color-primary-text-l;

        .info {
            color: $color-secondary-text;
            margin: 1em 0.5em;
        }

        .pagination {
            text-align: right;
            margin-top: 0.5em;

            a {
                background-color: $color-secondary-l;
                color: $color-secondary-text-l;
                font-size: $font-size-8;
            }

            .active {

                a {
                    background-color: $color-primary;
                    color: $color-primary-text;
                }
            }
        }
    }

    .grid-content {

        // Grid Table
        table {
            width: 100%;
            text-align: left;
            margin: 0.5rem 0px;
            border: 1px solid $color-primary-d;
            background-color: $color-primary-l;
            color: $color-primary-text-l;
        }

        th {
            background-color: $color-secondary-l;
            color: $color-secondary-text-l;
            padding: 0.5rem 0px;
        }

        th:nth-child(1), td:nth-child(1) {
            padding: 0.25rem;
        }

        tbody tr {
            @include transit-bkg-color( $transit-eio, $transit-time-medium );
        }

        tbody tr:nth-child(even) {
            background-color: $color-primary;
        }

        tbody tr:hover {
            background-color: $color-primary;
        }

        tbody td {
            padding: 0.25rem 0.5rem;

            .avatar {
                width: 64px;
            }

            .icon {
                display: inline-block;
                font-size: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
                margin: 0.25em 0;
            }
        }

        .actions span {
            margin-right: 0.5em;
            cursor: pointer;
        }
    }
}