.popup-admin {

	.popup-screen {
		background-color: $color-transparent-black;
	}

	// Popup Data
	.popup-data {
		background-color: $color-primary-l;
		color: $color-primary-text-l;
		@include rounded( $size-small );

		.popup-header {
			background-color: $color-tertiary-d;
			color: $color-tertiary-text-d;
			@include rounded-top( $size-small );
			padding: 1rem;

			.popup-title  {
				font-size: 1.5em;
				font-weight: bold;
			}
		}

		.popup-content-wrap {
			padding: 1rem;
			overflow-y: auto;

			.popup-content {
				// content
			}
		}

		.popup-close {
			padding: 0.25em 0.5em;
			top: 0.5em;
			right: 0.5em;
			color: $color-primary-l;
		}
	}
}
